version: '3.8'

services:
  appsync-mock:
    build: ./apps/appsync-mock
    ports:
      - "20002:20002"

  backend:
    build: ./apps/backend
    ports:
      - "3001:3001"
    environment:
      - APPSYNC_URL=http://host.docker.internal:20002/graphql

  frontend:
    build: ./apps/frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_GRAPHQL_URL=http://host.docker.internal:20002/graphql
